<div id="chart"></div>
<%= render_chart @chart, "chart" %>
<h2>Instructions etc</h2>
<ul>
  <li>The default x-variables and y-variables can be changed. Click on the "Time" x-variable below the
  chart for a list of alternatives. It is best to leave the x-variable unchanged as 'time', however. When switching back to the bubble chart from a line or bar
  chart, the x-variable resets to 'Concentration' for a currently unknown reason. Just change it back for now.</li>
  <li>Speaking of time, the Google Charts API requires a "time object" (viz. a reference to a real time, viz. January 1, 1970), so this chart is such that
  t = 0 = December 31, 1969.</li>
  <li>The Color, Size, Y-Axis and X-Axis variables can be customized (changed) from their default settings. The more data the better.</li>
  <li>Click on 1 or more "patients" (bubbles/hypotheses) to a.) keep tabs on those entities and b.) generate a 'trail' for those entities on the primary (bubble-based)
  motion chart</li>
  <li>Don't forget to click on the other two tabs in the top right corner of the graph (one looks like a bar chart, the other a line chart), expect to be surprised if it
  is your first time!</li>
  <li>Unbelievably, there are other options to this chart which have not been mentioned. Be sure to explore. For example, to the right of the 'play' button there is a
  vertical slider which will control the speed of the chart's movement. Also, either axis can be converted to logarithmic or linear scale.</li>
</ul>
  
