<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Data</th>
    <th>X</th>
  </tr>
  <% @heat_spreadsheets.each do |hs| %>
    <tr>
      <td><%= hs.name %></td>
      <td><% JSON.parse(hs.source).each do |row| %>
            <%= row %><br/>
          <% end %>
      </td>
      <td><%= link_to "Delete", heat_spreadsheet_path(hs), :method => "delete" %></td>
    </tr>
  <% end %>
</table>