<h1><%= @heat_spreadsheet.name %></h1>
<h3><%= link_to "Download CSV", "/heat_spreadsheets/#{@heat_spreadsheet.id}.csv"  %></h3>

<div class="well">
  <ul>
    <%=  @heat_spreadsheet.source %>
  </ul>
</div>